<!DOCTYPE html>

<html>

<head>
    <title>MyPlace</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/btn.css') }}" />
    <noscript>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" />
    </noscript>
</head>

<body class="is-preload-0 is-preload-1 is-preload-2">
    <!-- Main -->
    <div id="main">
        <!-- Header -->
        <header id="header">
            <div class="col-lg-9 text-center">
                <form action="#" class="narrow-w form-search d-flex align-items-stretch mb-3" data-aos="fade-up"
                    data-aos-delay="200">
                    <p>
                      {{datas[1]}}
                    </p>
                    <a href="move_furniture" title="Button push blue/green" class="button btnPush btnBlueGreen">3D 배치</a>
                </form>
            </div>
        </header>

        <!-- Thumbnail -->
        <div id="menu1">
            <section id="thumbnails">
                <div><a id="main-img-src" href="{{datas[0]}}" style="display:none;" /></div>
            </section>



            <div class="back color-2">
                <div class="row columns">
                    <ul class="menu align-center expanded text-center SMN_effect-2">
                        <li><a href="index">홈</a></li>
                        <li><a href="#">{{datas[2]}}</a></li>
                        <li><a href="#">책상</a></li>
                        <li><a href="#">서랍장</a></li>
                        <li><a href="#">테이블</a></li>
                        <li><a href="#">의자</a></li>
                    </ul>
                </div>
            </div>
<br>
            <div class="hero-header"></div>
            <div class="products">
                <div class="product-list">
                    <a href="#" class="product">
                        <img src="https://bakey-api.codeit.kr/files/629/images/sunglasses.jpg" width="225">
                        <div class="product-name">
                            침대
                        </div>
                        <div class="product-price">
                            49,000
                        </div>
                    </a>


                    <a href="#" class="product">
                        <img src="https://bakey-api.codeit.kr/files/629/images/sunglasses.jpg" width="225"
                            height="225px">
                        <div class="product-name">
                            Sunglasses
                        </div>
                        <div class="product-price">
                            49,000
                        </div>
                    </a>


                    <a href="#" class="product">
                        <img src="https://bakey-api.codeit.kr/files/629/images/sunglasses.jpg" width="225"
                            height="225px">
                        <div class="product-name">
                            Sunglasses
                        </div>
                        <div class="product-price">
                            49,000
                        </div>
                    </a>


                    <a href="#" class="product">
                        <img src="https://bakey-api.codeit.kr/files/629/images/sunglasses.jpg" width="225"
                            height="225px">
                        <div class="product-name">
                            Sunglasses
                        </div>
                        <div class="product-price">
                            49,000
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/uptest.js') }}"></script>
</body>

</html>
