<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body>
  <h1>Upload Image</h1>
  <form action="upload" method="post">
    <input type="file" id="myFileUpload">
    <input type="submit" value="결과보기" id="uploadButton">
  </form>

<script>
    //const uploadButton = document.getElementById("uploadButton");
    //const fileUpload = document.getElementById("myFileUpload");

    //uploadButton.addEventListener("click", () => {
    //  const file = fileUpload.files[0];
    //  const formData = new FormData();
    //  formData.append("image", file);

    //  const xhr = new XMLHttpRequest();
    //  xhr.open("POST", "/upload");
    //  xhr.onload = function() {
    //    if (xhr.status === 200) {
    //      const response = JSON.parse(xhr.responseText);
    //      if (response.status === 'success') {
    //        window.open(response.url, '_blank');
    //      } else {
    //        console.error("Upload failed.");
    //      }
    //    } else {
    //     console.error("Upload failed.");
    //    }
    //  };
    //  xhr.send(formData);
    // }); -->

           
            
</script>
    <!-- <input type="file" id="myFileUpload"><button onclick="upload()">Upload Image</button> -->
    
</body>
</html>